@model PNP.Models.ProductCatagory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductCatagory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catagoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catagoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catagoryDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catagoryDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.catagoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
