@model IEnumerable<CHECKERS.Models.Products>

@{
	ViewBag.Title = "Index";
}

<div class="container">

	<div class="row">

		<div class="col-lg-3">
			<table class="table table-hover" align="center" style="color:teal">
				<tr>
					<th>
						<a href="#" class="table-striped">Bakery</a>
					</th>
					<th>
						<a href="#" class="table-striped">Drinks</a>
					</th>
					<th>
						<a href="#" class="table-striped">Butchery</a>
					</th>
					<th>
						<a href="#" class="table-striped">Liqour</a>
					</th>
					<th>
						<a href="#" class="table-striped">Household</a>
					</th>
					<th>
						<a href="#" class="table-striped">Clothing</a>
					</th>
					<th>
						<a href="#" class="table-striped">Diary</a>
					</th>
					<th>
						<a href="#" class="table-striped">Cutlery</a>
					</th>
					<th>
						<a href="#" class="table-striped">Kiosk</a>
					</th>
					<th>
						<a href="#" class="table-striped">Gardening</a>
					</th>
					<th>
						<a href="#" class="table-striped">Toiletries</a>
					</th>
					<th>
						<a href="#" class="table-striped">Baby Products</a>
					</th>
					<th>
						<a href="#" class="table-striped">Pets</a>
					</th>
					<th>
						<a href="#" class="table-striped">Vegetables</a>
					</th>
					<th>
						<a href="#" class="table-striped">Fruit</a>
					</th>
					<th>
						<a href="#" class="table-striped">Yummy</a>
					</th>
			</table>


		</div>
	</div>
</div>


	
		@*<h2>@Html.ActionLink("Create New", "Create")</h2>*@

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 mb-4" >
						<div class="card h-100 list-group-item" >
							<a href="#">
								<img class="card-img-top" src="@Url.Content(item.productImage)" alt="Product Image" height="280" width="280" />
							</a>
							<div class="card-body">
								<h3 class="card-title">
									<a href="#">@Html.DisplayFor(modelItem => item.productName)</a>
									
								</h3>
								

								<h4>
			R @Html.DisplayFor(modelItem => item.productPrice)
		</h4>
								
								<p class="card-text">
									@Html.DisplayFor(modelItem => item.productDesc)
									<br />
									@Html.DisplayFor(modelItem => item.productDateEndPromo)
									<br />
									@Html.DisplayFor(modelItem => item.productCategory)
								</p>
							</div>
							<div class="card-footer">
								<small class="text-muted">★ ★ ★ ★ ☆</small>
								@Html.ActionLink("Edit", "Edit", new { id = item.productID }) |
								@Html.ActionLink("Details", "Details", new { id = item.productID }) |
								@Html.ActionLink("Delete", "Delete", new { id = item.productID })

							</div>
						</div>

					</div>

				}


			</div>
			
		</div>
		</div>
	</div>
		


		@*<table class="table table-striped">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.productName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.productImage)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.productPrice)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.productDropPercent)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.productDesc)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.productDateEndPromo)
					</th>
					<th></th>
				</tr>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.productName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.productImage)
						</td>
			<td>
							@Html.DisplayFor(modelItem => item.productPrice)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.productDropPercent)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.productDesc)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.productDateEndPromo)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.productID }) |
							@Html.ActionLink("Details", "Details", new { id = item.productID }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.productID })
						</td>
					</tr>
				}

			</table>*@
