<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body a href='#' background="~/img/slider3.jpg">

    @*<@*div class="container">
            <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:aliceblue">
                <font color="black"><b>WELCOME!</b></font>
            </h4>
        </div>*@

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="~/img/logo.jfif" />
                @*@Html.ActionLink("WOOLWORTHS", "Index", "WoolworthProducts", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()

    </div>
    <hr />
    <footer style="background-color:black">

        <br />
        <br />
        <div class="container">
            <a href="#">
                <img src="~/img/logo.jfif"/>
            </a>
            <div class="row col-lg-12">

                <div class="col-lg-3">
                    <div style="text-emphasis-color:white">
                        <h4 href="#">
                            MY ACCOUNT
                        </h4>
                        <h4>
                            <a style="color:white" href="#">
                                Login/Register
                            </a>
                            <br />
                            <a style="color:white">
                                Orders
                            </a>
                            <br />
                            <a style="color:white">
                                Shopping Lists
                            </a>
                            <br />
                            <a style="color:white">
                                Acount Details
                            </a>
                            <br/>
                            <a style="color:white" href="#">
                                Link a Card
                            </a>
                            <br/>
                        
                        </h4>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div style="text-emphasis-color:white">
                        <h4 href="#">
                            CUSTOMER SERVICE
                        </h4>
                        <h4>
                            <a style="color:white" href="#">
                                Help Centre
                            </a>
                            <br />
                            <a style="color:white">
                                Contact Us
                            </a>
                            <br />
                            <a style="color:white">
                                Usung Woolworths Online
                            </a>
                            <br />
                            <a style="color:white">
                                Delivery Options
                            </a>
                            <br/>
                            <a style="color:white" href="#">
                                Returns and Exchanges
                            </a>
                            <br />
                            <a style="color:white">
                                Terms and Conditions
                            </a>
                            <br />
                            <a style="color:white">
                                Corporate Sales
                            </a>
                            <br />
                        </h4>
                    </div>
                </div>
                    <div class="col-lg-3">
                        <div style="text-emphasis-color:white">
                            <h4 href="#">
                                ABOUT WOOLWORTHS
                            </h4>
                            <h4>
                                <a style="color:white" href="#">
                                    Store Locator
                                </a>
                                <br />
                                <a style="color:white">
                                    About Us
                                </a>
                                <br />
                                <a style="color:white">
                                    Careers
                                </a>
                                <br />
                                <a style="color:white">
                                    Press and News
                                </a>
                                <a style="color:white" href="#">
                                    Returns and Exchanges
                                </a>
                                <br />
                                <a style="color:white">
                                    Sustainability
                                </a>
                                <br />
                            </h4>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div style="text-emphasis-color:white">
                            <h4 href="#">
                                FOLLOW US ON
                            </h4>
                            <h4>
                                <a style="color:white" href="#">
                                   Facebook
                                </a>
                                <br />
                                <a style="color:white">
                                    Twitter
                                </a>
                                <br />
                                <a style="color:white">
                                    Instagram
                                </a>
                                <br />
                                <a style="color:white">
                                    YouTube
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <p>&copy; @DateTime.Now.Year - Woolworths</p>
            </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
