@model IEnumerable<PNP.Models.PnpLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pnpLocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pnpLocationStreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pnpLocationSuburbAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pnpLocationCodeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pnpLocationCoordinates)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pnpLocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pnpLocationStreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pnpLocationSuburbAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pnpLocationCodeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pnpLocationCoordinates)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pnpLocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.pnpLocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pnpLocationID })
        </td>
    </tr>
}

</table>
