<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PNP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar" style="background-color: #cc0066; height:auto; border-radius:0px">
        <div class="container">
            <div class="navbar-header" style="white-space:nowrap">
                <h4 class="glyphicon-align-left" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:aliceblue; white-space:nowrap;">
                    WELCOME
                </h4>
            </div>
            @*<div class="navbar-collapse collapse navbar-right">
                <div class="form-group form-inline" style="white-space:nowrap">
                    <input id="txtSearch" class="form-control form-inline" type="search" style="border-radius:0%" />&nbsp;<input id="btnSearch" type="button" value="Search" class="btn btn-primary form-inline" style="border-radius:0%" />
                </div>
            </div>*@
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:white">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#">
                    <img src="~/Images/PNP.JPG" />
                </a>

            </div>
            <div class="navbar-collapse collapse navbar-right">

            </div>

        </div>
    </div>
 
    <div class="container body-content">

        @RenderBody()

    </div>
    <hr />
    <footer style="background-color:#6666ff">

        <br />
        <br />
        <div class="container">
            @*<a href="#">
            <img src="~/Images/PNP.JPG" />
        </a>*@
            
            <div class="row col-lg-12">

                <div>
                    <h1 style="color:white">
                        <strong>
                            PicknPay
                        </strong>
                    </h1>
                </div>


                <div class="col-lg-3">
                    <div style="text-emphasis-color:white">
                        <h4>
                            <a style="color:white" href="#">
                                <strong>
                                    COMPANY
                                </strong>
                            </a>
                            <br />
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                SPECIALS
                            </a>
                            <br />
                            <a style="color:white">
                                CATAGORIES
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                WEEKEND
                            </a>
                            <br />
                            <a style="color:white">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div style="text-emphasis-color:white">
                        <h4>
                            <a style="color:white" href="#">
                                <strong>
                                    COMPANY
                                </strong>
                            </a>
                            <br />
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                SPECIALS
                            </a>
                            <br />
                            <a style="color:white">
                                CATAGORIES
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                WEEKEND
                            </a>
                            <br />
                            <a style="color:white">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div style="text-emphasis-color:white">
                        <h4>
                            <a style="color:white" href="#">
                                <strong>
                                    COMPANY
                                </strong>
                            </a>
                            <br />
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                SPECIALS
                            </a>
                            <br />
                            <a style="color:white">
                                CATAGORIES
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                WEEKEND
                            </a>
                            <br />
                            <a style="color:white">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div style="text-emphasis-color:white">
                        <h4>
                            <a style="color:white" href="#">
                                <strong>
                                    COMPANY
                                </strong>
                            </a>
                            <br />
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                SPECIALS
                            </a>
                            <br />
                            <a style="color:white">
                                CATAGORIES
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                WEEKEND
                            </a>
                            <br />
                            <a style="color:white">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                ONLINE
                            </a>
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                ABOUT
                            </a>
                            <br />
                            <a style="color:white">
                                CONTACT
                            </a>
                        </h4>
                    </div>

                </div>


            </div>
            <br />
            <br />
            <br />
            <br />


            <p style="color:white">&copy; @DateTime.Now.Year - PNP</p>

        </div>
        

       

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
