    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SPAR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="navbar" style="background-color: mediumseagreen; height:auto; border-radius:0px">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="~/Images/SPAR_Logo_1.jpg" />

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Images/2018_Win_A_Car.jpg">
                        </div>

                        <div class="item">
                            <img src="~/Images/race-banner-2.jpg">
                        </div>

                        <div class="item">
                            <img src="~/Images/SPAR_Home_Desktop_Banner-2.jpg">
                        </div>

                        <div class="item">
                            <img src="~/Images/2018_CancerVive.jpg">
                        </div>

                        <div class="item">
                            <img src="~/Images/Store_Finder_Page_Header_Desktop.png">
                        </div>

                        <div class="item">
                            <img src="~/Images/zyliss-web.jpg">
                        </div>

                        <div class="item">
                            <img src="~/Images/rewards_banner.jpg">
                        </div>

                        <div class="item">
                            <img src="~/Images/Header.jpg">
                        </div>
                        
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
               


                @*Html.ActionLink("SPAR SUPERMARKET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        </div>
        <hr />
        <footer style="background-color:grey" width="280">
            <br />
            <br />
            @*<div class="container">
        <a href="#">
            <img src="~/Images/SPAR_Logo_1.jpg" />
        </a>
        </div>*@
            <div class="row col-lg-12">

                <div class="col-sm-6 col-md-3">
                    <div style="text-emphasis-color:white">
                        <h2 >Quick Links</h2>

                        <h4>
                            <a style="color:white" href="#">
                                Home
                            </a>
                            <br />
                            <a style="color:white">
                                Specials
                            </a>
                            <br />
                            <a style="color:white">
                                Store Finder
                            </a>
                            <br />
                            <a style="color:white">
                                Recipes
                            </a>
                            <br />
                            <a style="color:white" href="#">
                                SPAR Rewards
                            </a>
                            <br />

                        </h4>
                    </div>

                </div>
                <div class="col-sm-6 col-md-3">
                    <div style="text-emphasis-color:white">
                        <h2>About SPAR</h2>

                        <h4>
                            <a style="color:white" href="#">
                                Our Business
                            </a>
                            <br />
                            <a style="color:white">
                                SPAR Financial
                            </a>
                            <br />
                            <a style="color:white">
                                Own a SPAR
                            </a>
                            <br />
                            <a style="color:white">
                                Careers
                            </a>
                            <a style="color:white" href="#">
                                Sustainability
                            </a>
                            <br />
                            <a style="color:white">
                                Access to Information
                            </a>
                            <br />

                        </h4>
                    </div>

                </div>
                <div class="col-sm-6 col-md-3">
                    <div style="text-emphasis-color:white">
                        <h2>Contact Us</h2>

                        <h4>
                            <a style="color:white" href="#">
                                Contact Details
                            </a>
                            <br />
                            <a style="color:white">
                                SPAR Customer Care
                            </a>
                            <br />
                            <a style="color:white">
                                SPAR Rewards Customer Care
                            </a>
                            <br />

                        </h4>
                    </div>

                </div>
                <div class="col-sm-6 col-md-3 footer-newsletter">
                    <h2>Newsletter Signup</h2>

                    <div style="text-emphasis-color:white">
                        <h4>
                            <a style="color:white" href="#">
                                MANAGE
                            </a>
                            <br />
                            <a style="color:white">
                                PRODUCTS
                            </a>
                            <br />
                            <a style="color:white">
                                SPECIALS
                            </a>
                            <br />
                            <a style="color:white">
                                CATAGORIES
                            </a>
                            <a style="color:white" href="#">
                                WEEKEND
                            </a>
                            <br />
                            <a style="color:white">
                                ONLINE
                            </a>
                            <br />

                        </h4>
                    </div>

                </div>

            </div>
            <br />
            <div id="social_icons">
                <a href="https://www.facebook.com/myspar/"><img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_55-128.png" width="70" height="70"></a>
                <a href="https://twitter.com/my_spar?lang=en"><img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_54-128.png" width="70" height="70"></a>
                <a href="https://www.instagram.com/my_spar/?hl=en"><img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_50-128.png" width="70" height="70"></a>
            </div>
            <br />
            <br />
            <br />


            <b><p font size="18">&copy; @DateTime.Now.Year - SPAR</p></b>
        </footer>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
